$ruler: 16px;
$color-red: #ae1100;
// $color-bg: #ebecf0;
$color-bg: white;
$color-shadow: #a1a6b6;
$color-white: #fff;

.dropdownzone {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  & input {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    height: 100%;

    & lable {
      height: 100%;
    }
  }
}
.uploadBox-container {
  height: 100%;
}

.uploadBox {
  color: $color-shadow;
  // font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: $ruler;
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 2;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
  margin-right: $ruler/2;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  margin: 0 0 24px 0;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}
