@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.header {
  @include page-padding;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }

  &__search-container {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  &__search-input {
    border: none;
    width: 100%;
    outline: none;
  }

  &__search-icon {
    :hover {
      cursor: pointer;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    height: fit-content;

    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }

  &__greeting {
  }

  &__link {
  }

  &__button {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }

  :hover {
    text-decoration: none;
  }
}
